:root {
    /* base */
    --white: hsl(0, 100%, 100%);
    --black: hsl(0, 0%, 0%);

    /*  */
    --grey-50: hsl(220, 38%, 97%);
    --grey-500: hsl(219, 13%, 44%);

    /* blue */

    --blue-850: hsl(215, 27%, 32%);
    --blue-950: hsl(214, 24%, 23%);
    --blue-900: hsl(216, 25%, 25%);

    --blue-50: hsl(225, 100%, 96%);
    --blue-100: hsl(220, 50%, 95%);
    --blue-300: hsl(216, 47%, 78%);
    --blue-500: hsl(223, 100%, 59%);

    --green-100: hsl(151, 88%, 94%);
    --green-500: hsl(151, 68%, 52%);

    --purple-100: hsl(278, 100%, 95%);
    --purple-600: hsl(277, 91%, 56%);

    --orange-50: hsl(27, 100%, 96%);
    --orange-400: hsl(22, 100%, 60%);

    --red-500: hsl(0, 82%, 63%);

    --ff: 'Rubik', sans-serif;

    /* Font Weights */

    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    --font-144: var(--fw-medium) 9rem/1em var(--ff);
    --font-64: var(--fw-medium) 4rem/1em var(--ff);
    --font-64-light: var(--fw-light) 4rem/1em var(--ff);
    --font-36: var(--fw-medium) 2.25rem/1.2em var(--ff);
    --font-28: var(--fw-medium) 1.75rem/1em var(--ff);
    --font-24: var(--fw-medium) 1.5rem/1.5em var(--ff);
    --font-24-light: var(--fw-regular) 1.5rem/1.5em var(--ff);
    --font-20: var(--fw-regular) 1.25rem/1.5em var(--ff);


    --font-88-md: var(--fw-medium) 5.5rem/1em var(--ff);

    --font-40-l-md: var(--fw-light) 2.5rem/1em var(--ff);
    --font-40-md: var(--fw-medium) 2.5rem/1em var(--ff);
    --font-20-md: var(--fw-medium) 1.25rem/1.2em var(--ff);
    --font-18-md: var(--fw-medium) 2.5rem/1em var(--ff);
    --font-14-md: var(--fw-medium) 0.875rem/1.6em var(--ff);



    --bg-img: url('./assets/images/pattern-background-desktop-light.svg');
    --overlay-clr: var(--grey-50);
    --clr: var(--blue-900);
    --btn-clr: var(--white);
    --subtitle-clr: var(--grey-500);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html,
body {
    height: 100%;
}

body {
    background: var(--overlay-clr);
    position: relative;
    color: var(--clr);
}

body.dark {
    --bg-img: url('./assets/images/pattern-background-desktop-dark.svg');

    --overlay-clr: var(--blue-900);
    --clr: var(--white);
    --btn-clr: var(--blue-850);
    --subtitle-clr: var(--blue-300)
}


body::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--bg-img);
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
    z-index: -1;
}


header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


button {
    font: inherit;
    color: inherit;
}

.container {
    max-width: 1200px;
    margin-inline: auto;
    padding-block: 2rem;
}


.toggle-mode {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#mode-toggle {
    display: none;
}

.toggle {
    display: grid;
    width: 60px;
    height: 33px;
    background-color: var(--purple-600);
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    padding-block: 0.2rem;
    align-items: center;
}



.toggle::before {
    content: '';
    position: absolute;
    left: 5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
    transition: transform 300ms ease-in-out;

}


input:checked+.toggle::before {
    transform: translateX(100%);
}

.hide {
    display: none;
}

.toggle-icon {
    width: 25px;
    height: 25px;
}

.toggle-icon--left {
    background-image: url('./assets/images/icon-sun-dark.svg');
}

.toggle-icon--right {
    background-image: url('./assets/images/icon-moon-dark.svg');
}

.dark .toggle-icon--left {
    background-image: url('./assets/images/icon-sun-light.svg');

}

.dark .toggle-icon--right {
    background-image: url('./assets/images/icon-moon-light.svg');

}

.hero__subtitle,
.question__count {
    color: var(--subtitle-clr);
}

.quiz-categories__button,.option {
    background-color: var(--btn-clr);
}


@media (max-width : 1023px) {

    body {
        --bg-img: url('./assets/images/pattern-background-tablet-light.svg')
    }

    body.dark {
        --bg-img: url('./assets/images/pattern-background-tablet-dark.svg')
    }

}

@media (max-width : 767px) {

    body {
        --bg-img: url('./assets/images/pattern-background-mobile-light.svg')
    }

    body.dark {
        --bg-img: url('./assets/images/pattern-background-mobile-dark.svg')
    }

}